<div class="container-fluid">

    <div class="row align-items-start">

        <div class="col-2 collapse collapse-horizontal show sidebar-nav" id="verticalNavbar">
            {% include 'pages/components/sidebar.twig' %}
        </div>

        <div class="col">
            <div class="container">
                {% include 'pages/components/category/content.twig' with { 'default' : false } %}
            </div>
        </div>

    </div>
</div>