<div class="container-fluid">

    <div class="row align-items-start">

        <div class="collapse collapse-horizontal show sidebar-nav" id="verticalNavbar">
            {% include 'pages/components/sidebar.twig' %}
        </div>

        <div class="main-category">
            <div class="container-category">
                {% include 'components/alert.twig' %}

                {% if category != null %}
                    {% include 'pages/components/category/content.twig' %}
                {% else %}
                    <h3 class="text-center">{% trans %}CreateCategoryDashboard{% endtrans %}</h3>
                {% endif %}
            </div>
        </div>

        <span id="hidePanel" data-bs-toggle="collapse" data-bs-target="#verticalNavbar" aria-controls="verticalNavbar"></span>

    </div>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastsContainer"></div>
    </div>

</div>