<nav role="navigation" aria-label="Sélection de todolist ouverte" class="flex-shrink-0 p-3 sidebar-div" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-active" aria-expanded="true">
                    Projets
                </button>
                <button class="btn btn-sm btn-sidebar-add" type="button" title="Création d'une todolist">
                    <span class="mdi mdi-18px mdi-plus"></span>
                </button>
            </div>
            <div class="collapse show" id="category-active">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                    {% for catId in 0..3 %}
                        {% if(catId == 1) %}
                            <li class="sidebar-li rounded active">
                                <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ category.name }}</a>
                                <a data-id="{{ category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                                    <span class="mdi mdi-dots-horizontal"></span>
                                </a>
                            </li>
                        {% else %}
                            <li class="sidebar-li rounded">
                                <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie {{ catId }}</a>
                                <a data-id="{{ catId }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                                    <span class="mdi mdi-dots-horizontal"></span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </li>
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-archive" aria-expanded="true">
                    Projets archivés
                </button>
            </div>
            <div class="collapse show" id="category-archive">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                    {% for catId in 4..6 %}
                        <li class="sidebar-li rounded">
                            <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #1</a>
                            <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-archive-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </li>
    </ul>
</nav>