<nav role="navigation" aria-label="Sélection de todolist ouverte" class="flex-shrink-0 p-3 sidebar-div" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-active" aria-expanded="true">
                    Projets
                </button>
                <button class="btn btn-sm btn-sidebar-add" type="button" title="Création d'une todolist">
                    <span class="mdi mdi-18px mdi-plus"></span>
                </button>
            </div>
            <div class="collapse show" id="category-active">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="sidebar-li rounded">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #3</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                    <li class="sidebar-li rounded active">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #5</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                    <li class="sidebar-li rounded">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #6</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                    <li class="sidebar-li rounded">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #7</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-archive" aria-expanded="true">
                    Projets archivés
                </button>
            </div>
            <div class="collapse show" id="category-archive">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li class="sidebar-li rounded">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #1</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-archive-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                    <li class="sidebar-li rounded">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #2</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-archive-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                    <li class="sidebar-li rounded">
                        <a href="#" class="d-inline-flex text-decoration-none rounded sidebar-li-name">Catégorie #4</a>
                        <a tabindex="0" class="btn btn-todolist-actions" role="button" data-bs-popover="category-archive-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                            <span class="mdi mdi-dots-horizontal"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>