{% extends '../layout.twig' %}

{% block headercss %}
    <style>
        h1 {
            color: blue;
        }
    </style>
{% endblock %}

{% block titre %}
    Titre salut
{% endblock %}

{% block content %}
    <ul>
        {% for user in noms %}
            <li><b>{{ user }}</b></li>
        {% endfor %}
    </ul>
{% endblock %}