/* Navbar */
.btn-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.span-nav{
    font-size: 30px;
}
.logo{
    margin-right: 3px;
    height: 40px;
    width: 40px;
}

/* Sidebar */
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.sidebar .nav-link .mdi {
    margin-right: 4px;
    color: #727272;
}
.sidebar .nav-link.active {
    color: #2470dc;
}
.sidebar .nav-link:hover .mdi,
.sidebar .nav-link.active .mdi {
    color: inherit;
}

/* Global */
.grabbing * {
    cursor: grabbing !important;
}

/* To-do-list */
.todolist {
    max-width: 1200px;
    padding: 0 5%;
}

/* Category */
.task-category-header {
    display: flex;
    flex-direction: row;
}
.accordion-item {
    margin-bottom: 3%;
}
.accordion-button {
    font-size: 1.1rem;
    font-weight: 500;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
}
.category-button {
    display: flex;
}
.accordion-button.btn-category-drag {
    border-bottom-width: 0;
}
.btn-category-drag {
    opacity: 0;
}
.btn-category-drag button {
    cursor: grab !important;
}
.task-category-header:hover .btn-category-drag {
    opacity: 1;
}
.btn-category-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-button .accordion-button:after {
    display: none;
}

/* Task */
.task-view {
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
}
.task-view-details {
    margin-left: 30px;
}
.task-view-info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.task-view-info label {
    cursor: pointer;
}
.task-view-info small {
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn-task-drag {
    cursor: grab;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0;
}
.btn-task-actions {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0;
    right: 0;
    top: 0;
}
.task-view:hover .btn-task-drag, .task-view:hover .btn-task-actions {
    opacity: 1;
}

/* Task add */
.task-add {
    margin-left: 30px;
}

/* Task new */
.task-new {
    display: none;
    padding: 6px 12px;
}
.task-new-active {
    display: block;
}
.btn-task-add-unactive {
    display: none;
}
.btn-task-create:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

/* Task modal */
/* todo */