/* Global */
.scrolling-disabled {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
}
input[type="checkbox"] {
    cursor: pointer;
}

/* Modal */
.modal-content .form-check {
    padding-right: 2.5rem;
}
.modal-content .checkbox {
    margin-left: 2.5rem;
    margin-top: 1.25rem;
    padding: 0;
}
.modal-content .checkbox .form-check-input {
    width: 1em;
    height: 1em;
    float: none;
    margin-left: -2em;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.modal-content .checkbox label {
    cursor: pointer;
    margin-left: 0.5em;

}
.list-member {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.modal-comment {
    padding: 3%;
    border-radius: 5px !important;
    margin-bottom: 3%;
    border: none;
}
.modal-delete-comment {
    opacity: 0;
}
.modal-comment:hover .modal-delete-comment {
    opacity: 1;
}
#modal-submit:disabled,
#modal-submit[disabled]{
    cursor: not-allowed;
    pointer-events: all !important;
}
.modal-form-label-select {
    display: flex;
    flex-direction: column;
}
.modal-form-label-select select {
    text-align: left;
}
.modal .task-view-info, .modal .task-view-info label {
    cursor: default;
}
.modal .accordion-item {
    margin-bottom: 0;
}
.modal .task-view-details {
    margin-top: 3%;
    margin-bottom: 3%;
}
.modal .task-view-info small {
    word-wrap: initial;
    word-break: initial;
    display: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    overflow: initial;
}

/* Navbar */
.btn-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
.btn-group-nav{
    position: relative;
    flex: 1 1 auto;
}
.span-nav{
    font-size: 30px;
}
.ul-nav{
    --bs-nav-link-padding-y : 0px;
}
.logo{
    margin-right: 3px;
    height: 40px;
    width: 40px;
}
.notification{
    font-size: 9px;
    z-index: +1;
}
.input-research{
    border: unset;
    height: 40px;
    margin-right: 5px;
}
.div-research{
    width: 39vw;
}
.appName{
    margin-bottom: 0px;
    padding-top: 8px;
    margin-left: 7px;
}
@media (max-width: 770px) {
    .appName{
        display: none;
    }
}

/* Modal Theme */
.theme-modal-color{
    height: 60px;
    width: 60px;
    margin: 5px;
}
/* Modal Theme */
.theme-color{
    height: 15px;
    width: 60px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.btn-modal-theme{
    border-radius: 5px;
    padding: 0;
    margin: 0 0 0 5px;
}

/* Theme */
.lightPrimary, .darkPrimary{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 2px solid black;
}
.lightBG, .darkBG{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid black;
}

/* Sidebar */
.sidebar-nav {
    padding-left: 0;
    padding-right: 0;
    z-index: 500;
    position: fixed;
}
.sidebar-div {
    height: 100vh;
    padding-top: 5rem !important;
    scrollbar-gutter: stable;
    overflow: hidden;
    position: absolute;
}
.sidebar-div:hover {
    overflow-y: auto;
}

@media (min-width: 992px) {
    .sidebar-nav {
        position: sticky;
        top: 0;
    }
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.sidebar .nav-link .mdi {
    margin-right: 4px;
    color: #727272;
}
.sidebar .nav-link.active {
    color: #2470dc;
}
.sidebar .nav-link:hover .mdi,
.sidebar .nav-link.active .mdi {
    color: inherit;
}
#hidePanel {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    filter: opacity(0.4);
    display: none;
    z-index: 400;
}
@media (max-width: 991px) {
    /* small resolution : sidebar is active */
    .sidebar-nav.show + .main-category + #hidePanel {
        display: block;
    }
}
@media (min-width: 992px) {
    /* normal/big resolution : sidebar is active */
    .sidebar-nav.show + .main-category {
        padding-left: 280px;
    }
}
@media (min-width: 576px) {
    .container-category, .sidebar-nav.show + .main-category .container-category{
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container-category, .sidebar-nav.show + .main-category .container-category{
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container-category{
        width:720px;
    }
    .sidebar-nav.show + .main-category .container-category{
        width:540px;
    }
}
@media (min-width: 1200px) {
    .container-category{
        width:960px;
    }
    .sidebar-nav.show + .main-category .container-category{
        width:720px;
    }
}
@media (min-width: 1400px) {
    .container-category{
        width:1140px;
    }
    .sidebar-nav.show + .main-category .container-category{
        width:960px;
    }
}

/* Global */
.grabbing * {
    cursor: grabbing !important;
}

/* Research */
.list-research .task-view .btn-task-drag {
    display: none;
}

/* To-do-list */
.categories {
    margin-bottom: 5rem;
}
.todolist {
    max-width: 1200px;
    padding: 0 5%;
}
.category-title {
    margin-bottom: 32px;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.category-title #title {
    width: 100%;
    cursor: pointer;
}
.title-actions {
    display: flex;
}

/* Category */
.subcategory-header {
    display: flex;
    flex-direction: row;
}
.accordion-item {
    margin-bottom: 3%;
}
.accordion-button {
    font-size: 1.1rem;
    font-weight: 500;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
}
.category-button {
    display: flex;
}
.accordion-button.btn-subcategory-drag {
    border-bottom-width: 0;
}
.btn-subcategory-drag {
    opacity: 0;
}
.btn-subcategory-drag button {
    cursor: grab !important;
}
.subcategory-header:hover .btn-subcategory-drag {
    opacity: 1;
}
.btn-category-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-category-actions:hover {
    filter: brightness(85%);
}
.category-button .accordion-button:after {
    display: none;
}
.drag-ghost .category-button {
    display: none;
}

/* Task */
.task-checkbox:focus {
    box-shadow: none;
}
.task-view {
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
}
.task-view-details {
    margin-left: 30px;
}
.task-view-info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.task-view-info label {
    cursor: pointer;
}
.task-view-info .assigned-member {
    font-size: initial;
}
.task-view-info small {
    word-wrap: break-word;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn-task-drag, .btn-task-actions {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0;
}
.btn-task-drag {
    cursor: grab !important;
}
.btn-task-actions {
    right: 0;
    top: 0;
    margin-top: 5px;
}
.btn-task-drag:hover, .btn-task-actions:hover {
    filter: brightness(85%);
}
.task-view:hover .btn-task-drag, .task-view:hover .btn-task-actions {
    opacity: 1;
}
.drag-ghost .btn-task-drag, .drag-ghost .btn-task-actions {
    display: none;
}

/* Task new */
.task-new {
    display: none;
    padding: 6px 12px;
}
.task-new-active {
    display: block;
}
.btn-task-add {
    text-align: left !important;
}
.btn-task-add-unactive {
    display: none;
}
.btn-task-create:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.task-new select {
    text-align: left;
    width: 100%;
}

/* Category/Task drag */
.drag-dragging {
    opacity: 1 !important;
}
.drag-ghost {
    filter: brightness(85%);
}

/* Popover */
.popover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    width: 250px;
}
.popover .btn-group-vertical {
    width: 100%;
}
.btn-popover {
    text-align: left;
}
.btn-popover:hover {
    filter: brightness(85%);
}

/* Archive */
.subcategory-archive .task-view-info, .subcategory-archive .task-view-info label {
    cursor: default;
}

/* Archive */

.subcategory-archive .btn-task-actions,
.subcategory-archive .btn-subcategory-drag .btn-category-actions {
    opacity: 0;
}

.subcategory-archive .task-view-info,
.subcategory-archive .task-view-info label,
.subcategory-archive .accordion-header .btn-category-actions
.subcategory-archive .accordion-header:hover .btn-category-actions,
.subcategory-archive .task-view-info,
.subcategory-archive .task-view-info label,
.subcategory-archive .accordion-header .btn-category-actions
.subcategory-archive .accordion-header:hover .btn-category-actions{
    opacity: 0.5;
}
.subcategory-archive .accordion-header:hover .btn-subcategory-drag .btn-category-actions,
.subcategory-archive .accordion-header:hover .btn-subcategory-drag .btn-category-actions {
    opacity: 1;
}
.subcategory-archive .task-view:hover .btn-task-actions,
.subcategory-archive .accordion-button,
.subcategory-archive .task-view:hover .btn-task-actions,
.subcategory-archive .accordion-button {
    opacity: 0.40;
}

.light .subcategory-archive .task-view-info,
.light .subcategory-archive .task-view-info label,
.light .subcategory-archive .accordion-header .btn-category-actions
.light .subcategory-archive .accordion-header:hover .btn-category-actions {
    opacity: 0.85;
}
.light .subcategory-archive .accordion-header:hover .btn-subcategory-drag .btn-category-actions{
    opacity: 1;
}
.light .subcategory-archive .task-view:hover .btn-task-actions,
.light .subcategory-archive .accordion-button {
    opacity: 0.40;
}

/* Sidebar */
.dropdown-toggle { outline: 0; }
.scrollarea {
    overflow-y: auto;
}
.sidebar-list-header {
    display: flex;
    flex-direction: row;
    margin-bottom: .75rem;
    padding-bottom: 0.35rem;
}
.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    background-color: transparent;
    width: 100%;
}
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.btn-toggle:hover::before {
    transform: rotate(360deg);
}
.btn-toggle[aria-expanded="true"]:hover::before {
    transform: rotate(450deg);
}
.sidebar-li {
    display: flex;
    flex-direction: row;
    margin-top: .125rem;
}
.sidebar-li-name {
    padding: .5rem .5rem;
    width: 100%;
}
.btn-todolist-actions {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-li:hover .btn-todolist-actions {
    opacity: 1;
}
