{% extends "layout.twig" %}

{% block title %}
    {% if (current_url() == url_for('account.login')) %}
        <title>{% trans %}AppName{% endtrans %} · {% trans %}LogInPage{% endtrans %}</title>
    {% elseif (current_url() == url_for('account.register')) %}
        <title>{% trans %}AppName{% endtrans %} · {% trans %}SignInPage{% endtrans %}</title>
    {% else %}
        <title>{% trans %}AppName{% endtrans %}</title>
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'home/components/navbar.twig' %}
{% endblock %}

{% block main %}
    {% include 'components/alert.twig' %}
    {% if (current_url() == url_for('account.login')) %}
        {% include 'home/components/content-login.twig' %}
    {% elseif (current_url() == url_for('account.register')) %}
        {% include 'home/components/content-signin.twig' %}
    {% else %}
        {% include 'home/components/content-home.twig' %}
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'components/footer.twig' with { 'content' : true } %}
{% endblock %}

{% block javascript_after %}
    {% if (current_url() == url_for('account.login')) %}
        <script type="text/javascript" src="{{ basePath }}/assets/js/check-connection.js"></script>
    {% elseif (current_url() == url_for('account.register')) %}
        <script type="text/javascript" src="{{ basePath }}/assets/js/check-register.js"></script>
    {% else %}

    {% endif %}

{% endblock %}