<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MoutonTodoList</title>

    <script type="text/javascript" src="{{ ROOT_URL }}assets/bootstrap/js/bootstrap.min.js"></script>
    <link href="{{ ROOT_URL }}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                MoutonDoList
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Présentation</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-success me-2" type="button">Commencez gratuitement</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <h1><b>Bienvenue</b></h1>
        <p>Trop bien cette todolist</p>
        <button class="btn btn-outline-success me-2" type="button">Commencez gratuitement</button>

        <img src="assets/img/leGang.jpeg" alt="ApplyImage" width="600" height="350" class="d-inline-block align-text-top">
    </div>
</body>
</html>