<div class="accordion accordion-flush categories">

    <div class="category-title">
        <h3 id="title" onclick="openEditModalCategory({{ category.id }})">{{ category.category.name }}</h3>
        <div class="title-actions">
            <a data-id="{{ category.id }}" tabindex="0" class="btn btn-category-actions" role="button" data-bs="popover" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                <span class="mdi mdi-24px mdi-dots-horizontal"></span>
            </a>
        </div>
    </div>

    <div id="research" class="research" hidden>
        <p class="mb-4 form-text text-muted">Résultat de la recherche :</p>
        <ul class="list-group list-group-flush tasks list-research"></ul>
    </div>

    <div id="default-category-content" data-sortable="categories">
        {% if (status != "exemple") %}

            {% for subCatId in 0..2 %}
                {% include 'pages/components/sub-category/content.twig' with { 'subCatId' : subCatId } %}
            {% endfor %}

            {% for subCatId in 3..3 %}
                {% include 'pages/components/sub-category/archive.twig' with { 'subCatId' : subCatId } %}
            {% endfor %}

        {% else %}

            {% include 'pages/components/sub-category/content.twig' with { 'subCatId' : 0 , 'status' : 'default' } %}

        {% endif %}
    </div>

</div>