/* Need to convert this SASS file to CSS format :
* sass public/assets/scss/global.scss:public/assets/css/global.css
 */

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/variables";

$component-active-color: $dark;
$component-active-bg: $light;
$input-bg: $light;
$input-color: $dark;

$form-check-input-border-radius: 50%;
$form-check-input-width: 1.5em;
$form-check-padding-start: $form-check-input-width + 1em;

// Themes overriding default variables

// Default : dark theme
$primary: #00ADB5;
$secondary: #393E46;
$info: #A5C9CA;
$body-bg: #222831;
$body-color: #EEEEEE;
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "info": $info,
        "dark": $dark,
        "light": $light
);

// Dark theme
.dark {

  $primary: #00ADB5;
  $secondary: #393E46;
  $info: #A5C9CA;

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "warning": $warning,
          "info": $info,
          "dark": $dark,
          "light": $light
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  /* Body */
  $body-bg: #222831;
  $body-color: #EEEEEE;
  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  /* Global */
  .form-control, .form-control:focus {
    color: #{$body-color};
    border-color: #{$secondary};
  }

  /* Sidebar*/
  .sidebar-div {
    background-color: #{$secondary};
  }
  .sidebar-list-header {
    border-bottom: solid 1px #{$primary};
  }
  .btn-toggle {
    color: #{$body-color};
  }
  .btn-toggle::before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='%2300ADB5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>") !important;
  }
  .btn-toggle[aria-expanded="true"] {
    color: #{$body-color};
  }
  .btn-sidebar-add {
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }
  .sidebar-li.active,
  .sidebar-li:hover {
    background-color: #{$body-bg};
  }
  .sidebar-div .sidebar-li-name {
    color: #{$body-color};
  }
  .btn-todolist-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$secondary};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$secondary};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }

  /* Category */
  .btn-category-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }

  /* Task */
  $ct-blue: #0d6efd;
  $ct-input-checked-color: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$primary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
  $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  .accordion-item-tasks {
    --#{$variable-prefix}accordion-bg: #{$body-bg};
  }
  .accordion-item-tasks .list-group-item {
    --#{$variable-prefix}list-group-bg: #{$body-bg};
    --#{$prefix}list-group-border-color: rgba(255, 255, 255, 0.075);
  }
  .accordion-item-tasks .accordion-button {
    --#{$variable-prefix}accordion-btn-color: #{$body-color};
    --#{$variable-prefix}accordion-btn-bg: #{$body-bg};
    --#{$variable-prefix}accordion-btn: #{$body-bg};
    --#{$variable-prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --#{$variable-prefix}border-color: rgba(255, 255, 255, 0.125);
  }
  .accordion-item-tasks .accordion-button:not(.collapsed) {
    --#{$variable-prefix}accordion-active-color: #{$body-color};
    --#{$variable-prefix}accordion-active-bg: #{$body-bg};
    --#{$variable-prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-icon)};
  }
  .task-checkbox {
    background-color: #{$body-bg};
    border-color: tint-color($ct-blue, 50%);
    &:checked {
      background-color: #{$primary};
      border-color: tint-color($ct-blue, 50%);
    }
    &:focus {
      box-shadow: none;
      border-color: tint-color($ct-blue, 50%)
    }
    &:hover {
      background-image: escape-svg($ct-input-checked-color);
    }
  }
  .task-view-info .form-check-label {
    color: #{$body-color};
  }
  .btn-task-drag, .btn-task-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }
  .task-drag-ghost .btn-task-actions {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-border-color: #{$secondary};
  }

  /* Task new */
  .btn-task-add {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-bg};

    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};

    --#{$variable-prefix}btn-hover-color: #{$primary};
  }

  /* Category/Task drag */
  .task-drag-dragging, .task-drag-ghost {
    background: #{$secondary};
  }
  .task-drag-dragging .accordion-button, .task-drag-ghost .accordion-button {
    --#{$variable-prefix}accordion-btn-bg: #{$secondary};
  }
  .task-drag-dragging .accordion-button:not(.collapsed), .task-drag-ghost .accordion-button:not(.collapsed) {
    --#{$variable-prefix}accordion-active-bg: #{$secondary};
  }
  .task-drag-dragging .list-group-item, .task-drag-ghost .list-group-item {
    --#{$variable-prefix}list-group-bg: #{$secondary};
  }
  .task-drag-dragging .btn-task-add, .task-drag-ghost .btn-task-add {
    --#{$variable-prefix}btn-bg: #{$secondary};
  }
  .task-drag-dragging .btn-category-actions, .task-drag-ghost .btn-category-actions {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-border-color: #{$secondary};
  }

  /* Popover */
  .popover {
    --#{$variable-prefix}popover-bg: #{$secondary};
  }
  .btn-popover {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-bg: #{$secondary};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
  }
}

// Light theme
.light {

  $primary: #71C9CE;
  $secondary: #CBF1F5;
  $tertiary: #A6E3E9;

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "warning": $warning,
          "info": $info,
          "dark": $dark,
          "light": $light,
          "tertiary": $tertiary,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  /* Body */
  $body-bg: #E3FDFD;
  $body-color: #222831;
  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  /* Global */
  .form-control, .form-control:focus {
    color: #{$body-color};
    border-color: #{$secondary};
  }

  /* Navbar */
  .btn-abs-nav{
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};

    --#{$variable-prefix}btn-bg: #{$primary};
    --#{$variable-prefix}btn-hover-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-border-color: #{$tertiary};
  }
  .dd-nav{
    --#{$variable-prefix}dropdown-color: #{$body-color};
    --#{$variable-prefix}dropdown-link-active-color: #{$body-color};

    --#{$variable-prefix}dropdown-bg: #{$secondary};
    --#{$variable-prefix}dropdown-link-hover-bg: #{$tertiary};
    --#{$variable-prefix}dropdown-link-active-bg: #{$tertiary};
  }

  /* Sidebar */
  .sidebar-div {
    background-color: #{$secondary};
  }
  .sidebar-list-header {
    border-bottom: solid 1px #{$primary};
  }
  .btn-toggle {
    color: #{$body-color};
  }
  .btn-toggle::before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='%23529296' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>") !important;
  }
  .btn-toggle[aria-expanded="true"] {
    color: #{$body-color};
  }
  .btn-sidebar-add {
    --#{$variable-prefix}btn-hover-bg: #{$primary};
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-border-color: #{$primary};
  }
  .sidebar-li.active,
  .sidebar-li:hover {
    background-color: #{$primary};
  }
  .sidebar-div .sidebar-li-name {
    color: #{$body-color};
  }
  .btn-todolist-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$primary};
    --#{$variable-prefix}btn-border-color: #{$primary};
    --#{$variable-prefix}btn-hover-bg: #{$secondary};
    --#{$variable-prefix}btn-hover-border-color: #{$primary};
    --#{$variable-prefix}btn-active-bg: #{$secondary};
    --#{$variable-prefix}btn-active-border-color: #{$primary};
  }

  /* Category */
  .btn-category-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }

  /* Task */
  $ct-blue: #0d6efd;
  $ct-input-checked-color: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$primary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
  $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  .accordion-item-tasks {
    --#{$variable-prefix}accordion-bg: #{$body-bg};
  }
  .accordion-item-tasks .list-group-item {
    --#{$variable-prefix}list-group-bg: #{$body-bg};
    --#{$prefix}list-group-border-color: rgba(0, 0, 0, 0.075);
  }
  .accordion-item-tasks .accordion-button {
    --#{$variable-prefix}accordion-btn-color: #{$body-color};
    --#{$variable-prefix}accordion-btn-bg: #{$body-bg};
    --#{$variable-prefix}accordion-btn: #{$body-bg};
    --#{$variable-prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --#{$variable-prefix}border-color: rgba(0, 0, 0, 0.125);
  }
  .accordion-item-tasks .accordion-button:not(.collapsed) {
    --#{$variable-prefix}accordion-active-color: #{$body-color};
    --#{$variable-prefix}accordion-active-bg: #{$body-bg};
    --#{$variable-prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-icon)};
  }
  .task-checkbox {
    background-color: #{$body-bg};
    border-color: tint-color($ct-blue, 50%);
    &:checked {
      background-color: #{$primary};
      border-color: tint-color($ct-blue, 50%);
    }
    &:focus {
      box-shadow: none;
      border-color: tint-color($ct-blue, 50%)
    }
    &:hover {
      background-image: escape-svg($ct-input-checked-color);
    }
  }
  .task-view-info .form-check-label {
    color: #{$body-color};
  }
  .btn-task-drag, .btn-task-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }
  .task-drag-ghost .btn-task-actions {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-border-color: #{$secondary};
  }

  /* Task new */
  .btn-task-add {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-bg};

    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};

    --#{$variable-prefix}btn-hover-color: #{$primary};
  }

  /* Category/Task drag */
  .task-drag-dragging, .task-drag-ghost {
    background: #{$secondary};
  }
  .task-drag-dragging .accordion-button, .task-drag-ghost .accordion-button {
    --#{$variable-prefix}accordion-btn-bg: #{$secondary};
  }
  .task-drag-dragging .accordion-button:not(.collapsed), .task-drag-ghost .accordion-button:not(.collapsed) {
    --#{$variable-prefix}accordion-active-bg: #{$secondary};
  }
  .task-drag-dragging .list-group-item, .task-drag-ghost .list-group-item {
    --#{$variable-prefix}list-group-bg: #{$secondary};
  }
  .task-drag-dragging .btn-task-add, .task-drag-ghost .btn-task-add {
    --#{$variable-prefix}btn-bg: #{$secondary};
  }
  .task-drag-dragging .btn-category-actions, .task-drag-ghost .btn-category-actions {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-border-color: #{$secondary};
  }

  /* Popover */
  .popover {
    --#{$variable-prefix}popover-bg: #{$tertiary};
  }
  .btn-popover {
    --#{$variable-prefix}btn-bg: #{$tertiary};
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-bg: #{$tertiary};
  }
}

// Required
@import "../bootstrap/scss/bootstrap";

/* Navbar */
.btn-abs-nav{
  --#{$variable-prefix}btn-hover-color: black;
  --#{$variable-prefix}btn-focus-shadow-rgb: none;
}
.dd-nav{
  --#{$variable-prefix}dropdown-link-hover-color: black;
  --#{$variable-prefix}dropdown-box-shadow: none;
}

/* Sidebar */
.btn-sidebar-add, .btn-todolist-actions {
  --#{$variable-prefix}btn-padding-x: 0.3rem;
  --#{$variable-prefix}btn-padding-y: 0;
}
.btn-todolist-actions {
  --#{$variable-prefix}btn-border-width: 3px;
}

/* Category */
.category-button .accordion-button {
  --#{$variable-prefix}accordion-btn-padding-x: 0;
}
.accordion-item-tasks .accordion-button {
  border-bottom: #{$accordion-border-color} solid #{$accordion-border-width};
}
.accordion-item {
  --#{$variable-prefix}accordion-border-width: 0;
}
.category-button .accordion-button {
  --#{$variable-prefix}accordion-btn-padding-x: 0;
  --#{$variable-prefix}accordion-btn-padding-y: 0;
}
.btn-category-actions {
  --#{$variable-prefix}btn-focus-shadow-rgb: none;
  --#{$variable-prefix}btn-padding-x: 0;
  --#{$variable-prefix}btn-padding-y: 0;
}

/* Task */
.btn-task-drag, .btn-task-actions {
  --#{$variable-prefix}btn-focus-shadow-rgb: none;
  --#{$variable-prefix}btn-padding-x: 0;
  --#{$variable-prefix}btn-padding-y: 0;
}

/* Task new */
.btn-task-add {
  --#{$variable-prefix}btn-focus-shadow-rgb: none;
}

/* Popover */
.popover {
  --#{$variable-prefix}popover-border-radius: #{$border-radius-sm};
  --#{$variable-prefix}popover-body-padding-y: 4px;
  --#{$variable-prefix}popover-body-padding-x: 0;
  --#{$variable-prefix}popover-arrow-width: 0;
  --#{$variable-prefix}popover-arrow-height: 0;
}
.btn-popover {
  --#{$variable-prefix}btn-border-radius: 0;
}