/* Need to convert this SASS file to CSS format :
* sass public/assets/scss/global.scss:public/assets/css/global.css
 */

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/variables";

$component-active-color: $dark;
$component-active-bg: $light;
$input-bg: $light;
$input-color: $dark;

// Themes overriding default variables

// Default : dark theme
$primary: #00ADB5;
$secondary: #393E46;
$info: #A5C9CA;
$body-bg: #222831;
$body-color: #EEEEEE;
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "info": $info,
        "dark": $dark,
        "light": $light
);

// Dark theme
.dark {

  $primary: #00ADB5;
  $secondary: #393E46;
  $info: #A5C9CA;

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "warning": $warning,
          "info": $info,
          "dark": $dark,
          "light": $light
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  $body-bg: #222831;
  $body-color: #EEEEEE;

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};
}

// Light theme
.light {

  $primary: #71C9CE;
  $secondary: #CBF1F5;
  $tertiary: #A6E3E9;

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "warning": $warning,
          "info": $info,
          "dark": $dark,
          "light": $light
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  $body-bg: #E3FDFD;
  $body-color: #222831;

  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  $ct-bg: Black;

  .btn-nav{
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};

    --#{$variable-prefix}btn-bg: #{$primary};
    --#{$variable-prefix}btn-hover-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-border-color: #{$tertiary};

    --#{$variable-prefix}btn-hover-color: #{$ct-bg};
    --#{$variable-prefix}btn-focus-shadow-rgb: none;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }

  .span-nav{
    font-size: 30px;
  }

  .dd-nav{
    --#{$variable-prefix}dropdown-color: #{$body-color};
    --#{$variable-prefix}dropdown-link-active-color: #{$body-color};

    --#{$variable-prefix}dropdown-bg: #{$secondary};
    --#{$variable-prefix}dropdown-link-hover-bg: #{$tertiary};
    --#{$variable-prefix}dropdown-link-active-bg: #{$tertiary};

    --#{$variable-prefix}dropdown-link-hover-color: #{$ct-bg};
    --#{$variable-prefix}dropdown-box-shadow: none;
  }

  .logo{
    height: 40px;
    width: 40px;
  }
}

// Required
@import "../bootstrap/scss/bootstrap";
