/* Need to convert this SASS file to CSS format :
* sass public/assets/scss/global.scss:public/assets/css/global.css
 */

// Required
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/variables";

$component-active-color: $dark;
$component-active-bg: $light;
$input-bg: $light;
$input-color: $dark;

$form-check-input-border-radius: 50%;
$form-check-input-width: 1.5em;
$form-check-padding-start: $form-check-input-width + 1em;

// Themes
@import "theme-dark";
@import "theme-light";

// Bootstrap
@import "../bootstrap/scss/bootstrap";

// Layout
@import "layout";