// Light theme
body.light::-webkit-scrollbar-track,
.light::-webkit-scrollbar-track {
  background-color: #E3FDFD;
}
body.light::-webkit-scrollbar-thumb,
.light::-webkit-scrollbar-thumb{
    background-color: #71C9CE;
}

.light {

  $primary: #71C9CE;
  $secondary: #CBF1F5;
  $tertiary: #A6E3E9;

  $theme-colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "danger": $danger,
          "warning": $warning,
          "info": $info,
          "dark": $dark,
          "light": $light,
          "tertiary": $tertiary,
  );

  /* redefine theme color variables */
  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  /* Body */
  $body-bg: #E3FDFD;
  $body-color: #222831;
  --#{$variable-prefix}body-color: #{$body-color};
  --#{$variable-prefix}body-bg: #{$body-bg};

  /* Global */
  .form-control, .form-control:focus {
    color: #{$body-color};
    border-color: #{$secondary};
  }
  .btn-primary {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$primary};
    --#{$variable-prefix}btn-border-color: #{$primary};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-hover-bg: #67B7BB;
    --#{$variable-prefix}btn-hover-border-color: #67B7BB;
    --#{$variable-prefix}btn-focus-shadow-rgb: 49, 132, 253;
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-active-bg: #67B7BB;
    --#{$variable-prefix}btn-active-border-color: #67B7BB;
    --#{$variable-prefix}btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --#{$variable-prefix}btn-disabled-color: #{$body-color};
    --#{$variable-prefix}btn-disabled-bg: #{$primary};
    --#{$variable-prefix}btn-disabled-border-color: #{$primary};
  }
  .btn-primary:disabled:hover {
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-hover-bg: #{$primary};
    --#{$variable-prefix}btn-hover-border-color: #{$primary};
  }
  .btn-secondary {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #529296;
    --#{$variable-prefix}btn-border-color: #529296;
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-hover-bg: #488083;
    --#{$variable-prefix}btn-hover-border-color: #488083;
    --#{$variable-prefix}btn-focus-shadow-rgb: 49, 132, 253;
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-active-bg: #529296;
    --#{$variable-prefix}btn-active-border-color: #529296;
    --#{$variable-prefix}btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --#{$variable-prefix}btn-disabled-color: #{$body-color};
    --#{$variable-prefix}btn-disabled-bg: #7ECED2;
    --#{$variable-prefix}btn-disabled-border-color: #7ECED2;
  }
  ::-webkit-scrollbar-track {
    background-color: #E3FDFD;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #71C9CE;
  }

  /* Modal */
  .modal-edit {
    --#{$variable-prefix}modal-color: #{$body-color};
    --#{$variable-prefix}modal-bg: #{$body-bg};
    --#{$variable-prefix}modal-header-border-color:  rgba(0, 0, 0, 0.125);
    --#{$variable-prefix}modal-footer-border-color: rgba(0, 0, 0, 0.075);
  }
  .modal-edit .btn-close {
    --#{$variable-prefix}btn-color: #{$primary};
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300ADB5'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .btn-modal-select{
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-border-color: #{$tertiary};
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-hover-bg: #{$tertiary};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-hover-border-color: #{$tertiary};
    --#{$variable-prefix}btn-active-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-active-border-color: #{$tertiary};
  }
  .btn-modal-remove{
    --#{$variable-prefix}btn-color: #ec5941;
    --#{$variable-prefix}btn-border-color: #ec5941;
    --#{$variable-prefix}btn-hover-bg: #fcf1ef;
    --#{$variable-prefix}btn-hover-border-color: #ae1800;
    --#{$variable-prefix}btn-hover-color: #ae1800;
    --#{$variable-prefix}btn-active-color: #660e00;
    --#{$variable-prefix}btn-active-bg: #fdd4cd;
    --#{$variable-prefix}btn-active-border-color: #660e00;
  }
  .list-member {
    --#{$variable-prefix}list-group-color: #{$body-color};
    --#{$variable-prefix}list-group-border-color: rgba(0, 0, 0, 0.075)
  }
  .modal-comment {
    color: #{$body-color};
    background-color: #{$secondary};
  }
  .modal-delete-comment {
    --bs-btn-color: #{$body-color};
    --bs-btn-hover-color: #{$body-color};
    --bs-btn-active-color: #{$body-color};
    --bs-btn-bg: #{$secondary};
    --bs-btn-border-color: #{$secondary};
    --bs-btn-hover-bg: #{$tertiary};
    --bs-btn-hover-border-color: #{$tertiary};
    --bs-btn-active-bg: #{$tertiary};
    --bs-btn-active-border-color: #{$tertiary};
  }

  /* Navbar */
  .btn-abs-nav{
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$primary};
    --#{$variable-prefix}btn-hover-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-bg: #{$tertiary};
    --#{$variable-prefix}btn-active-border-color: #{$tertiary};
  }
  .dd-nav{
    --#{$variable-prefix}dropdown-color: #{$body-color};
    --#{$variable-prefix}dropdown-link-active-color: #{$body-color};

    --#{$variable-prefix}dropdown-bg: #{$secondary};
    --#{$variable-prefix}dropdown-link-hover-bg: #{$tertiary};
    --#{$variable-prefix}dropdown-link-active-bg: #{$tertiary};
  }
  .dropdown-item-nav{
    --#{$variable-prefix}dropdown-link-hover-color: #{$body-color};
    color: #{$body-color};
  }

  /* Sidebar */
  .sidebar-div {
    background-color: #{$secondary};
  }
  .sidebar-list-header {
    border-bottom: solid 1px #{$primary};
  }
  .btn-toggle {
    color: #{$body-color};
  }
  .btn-toggle::before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='%23529296' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>") !important;
  }
  .btn-toggle[aria-expanded="true"] {
    color: #{$body-color};
  }
  .btn-sidebar-add {
    --#{$variable-prefix}btn-hover-bg: #{$primary};
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-border-color: #{$primary};
  }
  .sidebar-li.active,
  .sidebar-li:hover {
    background-color: #{$primary};
  }
  .sidebar-div .sidebar-li-name {
    color: #{$body-color};
  }
  .btn-todolist-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$primary};
    --#{$variable-prefix}btn-border-color: #{$primary};
    --#{$variable-prefix}btn-hover-bg: #{$secondary};
    --#{$variable-prefix}btn-hover-border-color: #{$primary};
    --#{$variable-prefix}btn-active-bg: #{$secondary};
    --#{$variable-prefix}btn-active-border-color: #{$primary};
  }

  /* Category */
  .btn-category-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }

  /* Task */
  $ct-blue: #0d6efd;
  $ct-input-checked-color: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$primary}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
  $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
  .accordion-item-tasks {
    --#{$variable-prefix}accordion-bg: #{$body-bg};
  }
  .accordion-item-tasks .list-group-item {
    --#{$variable-prefix}list-group-bg: #{$body-bg};
    --#{$prefix}list-group-border-color: rgba(0, 0, 0, 0.075);
  }
  .accordion-item-tasks .accordion-button {
    --#{$variable-prefix}accordion-btn-color: #{$body-color};
    --#{$variable-prefix}accordion-btn-bg: #{$body-bg};
    --#{$variable-prefix}accordion-btn: #{$body-bg};
    --#{$variable-prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --#{$variable-prefix}border-color: rgba(0, 0, 0, 0.125);
  }
  .accordion-item-tasks .accordion-button:not(.collapsed) {
    --#{$variable-prefix}accordion-active-color: #{$body-color};
    --#{$variable-prefix}accordion-active-bg: #{$body-bg};
    --#{$variable-prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-icon)};
  }
  .task-checkbox {
    background-color: #{$body-bg};
    border-color: tint-color($ct-blue, 50%);
    &:checked {
      background-color: #{$primary};
      border-color: tint-color($ct-blue, 50%);
    }
    &:focus {
      box-shadow: none;
      border-color: tint-color($ct-blue, 50%)
    }
    &:hover {
      background-image: escape-svg($ct-input-checked-color);
    }
  }
  .task-view-info .form-check-label {
    color: #{$body-color};
  }
  .btn-task-drag, .btn-task-actions {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-color};
    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-border-color: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};
  }
  .drag-ghost .btn-task-actions {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-border-color: #{$secondary};
  }

  /* Task new */
  .btn-task-add {
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-active-color: #{$body-bg};

    --#{$variable-prefix}btn-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-bg: #{$body-bg};
    --#{$variable-prefix}btn-hover-border-color: #{$body-bg};
    --#{$variable-prefix}btn-active-bg: #{$body-bg};
    --#{$variable-prefix}btn-active-border-color: #{$body-bg};

    --#{$variable-prefix}btn-hover-color: #{$primary};
  }

  /* Category/Task drag */
  .drag-dragging, .drag-ghost {
    background: #{$secondary};
  }
  .drag-dragging .accordion-button, .drag-ghost .accordion-button {
    --#{$variable-prefix}accordion-btn-bg: #{$secondary};
  }
  .drag-dragging .accordion-button:not(.collapsed), .drag-ghost .accordion-button:not(.collapsed) {
    --#{$variable-prefix}accordion-active-bg: #{$secondary};
  }
  .drag-dragging .list-group-item, .drag-ghost .list-group-item {
    --#{$variable-prefix}list-group-bg: #{$secondary};
  }
  .drag-dragging .btn-task-add, .drag-ghost .btn-task-add {
    --#{$variable-prefix}btn-bg: #{$secondary};
  }
  .drag-dragging .btn-category-actions, .drag-ghost .btn-category-actions {
    --#{$variable-prefix}btn-bg: #{$secondary};
    --#{$variable-prefix}btn-border-color: #{$secondary};
  }

  /* Popover */
  .popover {
    --#{$variable-prefix}popover-bg: #{$tertiary};
  }
  .btn-popover {
    --#{$variable-prefix}btn-bg: #{$tertiary};
    --#{$variable-prefix}btn-color: #{$body-color};
    --#{$variable-prefix}btn-hover-bg: #{$tertiary};
  }
}
