<nav role="navigation" class="navbar navbar-expand-lg fixed-top bg-primary" aria-label="Actions principales et accès aux autres pages">
    <div class="container p-0">
        <div class="d-inline-flex">
            <button type="button" class="btn btn-abs-nav btn-nav me-1 ms-1" data-bs-toggle="collapse" data-bs-target="#verticalNavbar" aria-expanded="false" aria-controls="verticalNavbar">
                <span class="mdi mdi-menu span-nav"></span>
            </button>
            <a class="nav-link active d-flex me-1" href=".">
                <img src="assets/img/appImg.jpg" alt="Logo" class="rounded-circle logo">
                <p class="appName">{% trans %}AppName{% endtrans %}</p>
            </a>
        </div>

        <div class="d-inline-flex">
            <div class="collapse collapse-horizontal" id="collapseSearch">
                <div class="div-research">
                    <form class="dropdown input-group flex-nowrap container-searchbar" role="search">
                            <div class="d-flex align-items-center searchbar-inputs">
                                <div id="searchbar-assign" class="searchbar-category">
                                    <small type="button" id="value-assign" class="form-text text-muted" data-bs-toggle="dropdown" aria-expanded="false">Assign=</small>
                                    <ul id="dropdown-assign" class="dropdown-menu dd-nav" data-bs="dropdown">
                                        <li>
                                            <button class="dropdown-item dropdown-item-nav" type="button">
                                                None
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item dropdown-item-nav" type="button">
                                                Any
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item dropdown-item-nav" type="button">
                                                NOM Prénom
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <input type="text" id="searchbar-input" class="form-control" data-bs-toggle="dropdown" aria-expanded="false" placeholder= "{% trans %}InputSearchNav{% endtrans %}" aria-label="Search">
                                    <ul id="dropdown-category" class="dropdown-menu dropdown-menu-end dd-nav" data-bs="dropdown">
                                        <li>
                                            <button type="button" onclick="showDropdownAssign(event)" class="dropdown-item dropdown-item-nav">
                                                <span class="mdi mdi-account me-2"></span>
                                                Assigné
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button type="reset" onclick="resetSearchbar()" class="btn searchbar-cancel"><span class="mdi mdi-24px mdi-close-circle"></span></button>
                    </form>
                </div>
            </div>

            <button class="btn btn-abs-nav btn-nav" type="submit" data-bs-toggle="collapse" data-bs-target="#collapseSearch"
                    aria-expanded="false" aria-controls="collapseSearch">
                <span class="mdi mdi-magnify span-nav"></span>
            </button>

            <div class="btn-group-nav">
                <button type="button" class="btn position-relative btn-abs-nav btn-nav me-1" aria-expanded="false" title="Notification">
                    <span class="mdi mdi-bell span-nav"></span>
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger notification">99+</span>
                </button>
            </div>

            <div class="btn-group-nav">
                <button type="button" class="btn btn-abs-nav btn-nav me-1" data-bs-toggle="dropdown" aria-expanded="false" title="Compte">
                    <span class="mdi mdi-account-circle span-nav"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dd-nav">
                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-cog-outline me-2"></span>
                            {% trans %}DropDownParameters{% endtrans %}</button></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><button class="dropdown-item dropdown-item-nav" type="button" data-bs-toggle="modal" data-bs-target="#themeModal"> <span class="mdi mdi-palette-outline me-2"></span>
                            {% trans %}DropDownThemeNav{% endtrans %}</button></li>
                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-share me-2"></span>
                            {% trans %}DropDownShareNav{% endtrans %}</button></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-exit-run me-2"></span>
                            {% trans %}DropDownDisconnectNav{% endtrans %}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="themeModal" tabindex="-1" aria-labelledby="themeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="themeModalLabel">{% trans %}TitreModalNav{% endtrans %}</h1>
                <button type="button" class="btn-close modal-theme-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>{% trans %}LabelModalNav{% endtrans %}</h5>
                <div class="d-flex align-items-center">
                    <div class="btn btn-modal-theme" role="button" onclick="setToLightMode()" title="Thème clair">
                        <div class="theme-modal-color">
                            <div class="theme-color lightPrimary"></div>
                            <div class="theme-color lightSecondary"></div>
                            <div class="theme-color lightTertiary"></div>
                            <div class="theme-color lightBG"></div>
                        </div>
                    </div>
                    <div class="btn btn-modal-theme" role="button" onclick="setToDarkMode()" title="Thème sombre">
                        <div class="theme-modal-color">
                            <div class="theme-color darkPrimary"></div>
                            <div class="theme-color darkSecondary"></div>
                            <div class="theme-color darkTertiary"></div>
                            <div class="theme-color darkBG"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function resetSearchbar() {
        document.getElementById("searchbar-assign").style.display = "none"
        document.getElementById("value-assign").innerHTML = "Assigné="
    }

    function showDropdownAssign(e) {
        let assignDiv = document.getElementById("searchbar-assign")
        let assignStyle = window.getComputedStyle(assignDiv)
        if(assignStyle.getPropertyValue('display') === "none")
            assignDiv.style.display = "block"
        else
        {
            e.stopPropagation();

            /* Hide input dropdown */
            var dropdownElement = document.getElementById('searchbar-input')
            var dropdownInstanceBefore = bootstrap.Dropdown.getInstance(dropdownElement)
            if(dropdownInstanceBefore !== null)
                dropdownInstanceBefore.dispose()
            new bootstrap.Dropdown(dropdownElement)
            var dropdownInstanceAfter = bootstrap.Dropdown.getInstance(dropdownElement)
            dropdownInstanceAfter.hide()

            /* Show assign dropdown */
            var dropdownElement2 = document.getElementById('value-assign')
            var dropdownInstanceBefore2 = bootstrap.Dropdown.getInstance(dropdownElement2)
            if(dropdownInstanceBefore2 !== null)
                dropdownInstanceBefore2.dispose()
            new bootstrap.Dropdown(dropdownElement2)
            var dropdownInstanceAfter2 = bootstrap.Dropdown.getInstance(dropdownElement2)
            dropdownInstanceAfter2.show()
        }
    }

    /*document.getElementById("searchbar-input").addEventListener('click', function (e) {
        console.log('test')
        const dropdownID = document.getElementById("dropdown-input")
        const dropdown = new bootstrap.Dropdown(dropdownID)
        dropdown.toggle()
    });*/
</script>