<div class="container-fluid">

    <div class="row align-items-start">

        <div class="col-2 collapse collapse-horizontal show sidebar-nav" id="verticalNavbar">
            {% include 'components/vertical-navbar.twig' %}
        </div>

        <div class="col">
            <div class="container">
                {% include 'tasks/todolist.twig' %}
            </div>
        </div>

    </div>
</div>