<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/img/appImg.jpg" alt="Logo" width="30" height="25" class="d-inline-block align-text-top rounded-circle">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action two</a></li>
                <li><a class="dropdown-item" href="#">Action three</a></li>
            </ul>
        </div>
    </div>
</nav>