<nav class="navbar navbar-expand-lg fixed-top bg-primary">
    <div class="container p-0">
        <div class="d-inline-flex">
            <button type="button" class="btn btn-abs-nav btn-nav me-1 ms-1" data-bs-toggle="collapse" data-bs-target="#verticalNavbar" aria-expanded="false" aria-controls="verticalNavbar">
                <span class="mdi mdi-menu span-nav"></span> </button>
            <a class="me-1" href=".">
                <img src="assets/img/appImg.jpg" alt="Logo" class="rounded-circle logo">
            </a>
        </div>

        <div class="d-inline-flex">
            <div class="collapse collapse-horizontal" id="collapseSearch">
                <div class="div-research">
                    <form class="d-flex" role="search">
                        <input class="form-control input-research" type="search" placeholder= "{% trans %}InputSearchNav{% endtrans %}" aria-label="Search">
                    </form>
                </div>
            </div>
            
            <button class="btn btn-abs-nav btn-nav" type="submit" data-bs-toggle="collapse" data-bs-target="#collapseSearch"
                    aria-expanded="false" aria-controls="collapseSearch">
                <span class="mdi mdi-magnify span-nav"></span>
            </button>

            <div class="btn-group-nav">
                <button type="button" class="btn position-relative btn-abs-nav btn-nav me-1" aria-expanded="false">
                    <span class="mdi mdi-bell span-nav"></span>
                    <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger notification">99+</span>
                </button>
            </div>

            <div class="btn-group-nav">
                <button type="button" class="btn btn-abs-nav btn-nav me-1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="mdi mdi-account-circle span-nav"></span> </button>
                <ul class="dropdown-menu dropdown-menu-end dd-nav">
                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-cog-outline me-2"></span>
                            {% trans %}DropDownParameters{% endtrans %}</button></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-palette-outline me-2"></span>
                            {% trans %}DropDownThemeNav{% endtrans %}</button></li>
                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-share me-2"></span>
                            {% trans %}DropDownShareNav{% endtrans %}</button></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><button class="dropdown-item dropdown-item-nav" type="button"> <span class="mdi mdi-exit-run me-2"></span>
                            {% trans %}DropDownDisconnectNav{% endtrans %}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>