<div style="margin-top: 18%">
    <div class="input-group">
        <input type="text" class="form-control" oninput="testInputRoute(this.value)" value="actions/categories"
               style="color: black">
        <input type="number" class="form-control" oninput="testInputId(this.value)" value="1" style="color: black">
    </div>

    <div class="btn-group">

        <button class="btn btn-success" onclick="testCreate()">Test create</button>
        <button class="btn btn-success" onclick="testUpdate()">Test update</button>
        <button class="btn btn-success" onclick="testGet()">Test get</button>
        <button class="btn btn-success" onclick="testDelete()">Test delete</button>
    </div>
</div>
<script>
    const url = '{{ full_url_for('home') }}'
    let route = 'actions/categories', id = '1';
    let taskRepo = new TaskRepository();

    function testDelete() {
        taskRepo.delete({
            id: 1
        }).then(r => alert(JSON.stringify(r))).catch(e => alert(JSON.stringify(e)))
    }

    function testUpdate() {
        taskRepo.update({
            id: 1
        }).then(r => alert(JSON.stringify(r))).catch(e => alert(JSON.stringify(e)))
    }

    function testGet() {
        taskRepo.get(1).then(r => alert(JSON.stringify(r))).catch(e => alert(JSON.stringify(e)))
    }

    function testCreate() {
        taskRepo.create({name: 'test'}).then(r => alert(JSON.stringify(r))).catch(e => alert(JSON.stringify(e)))
    }

    function testInputRoute(a) {
        route = a;
    }

    function testInputId(a) {
        id = a;
    }
</script>