<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast bg-secondary" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto" id="toast-strong"></strong>
            <small id="toast-small"></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-content">
        </div>
    </div>
</div>

<script>
    function initToast(title, target){
        $('#toast-strong').html(`{{'ToastTitleErrorUpdateInvitation'|trans|raw }}`+ title);
        $('#toast-small').html(target);
        $('#toast-content').html(`{{'ToastErrorMessageUpdateInvitation'|trans|raw}}`);
    }

    function showToast(title, target){
        initToast(title, target);

        const toastLive = document.getElementById('liveToast');
        const toast = new bootstrap.Toast(toastLive);
        toast.show();
    }
</script>