<div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <span class="mdi mdi-home"></span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file" class="mdi mdi-file align-text-bottom"></span>
                Commandes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="shopping-cart" class="mdi mdi-cart align-text-bottom"></span>
                Produits
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="users" class="mdi mdi-account align-text-bottom"></span>
                Clients
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="mdi mdi-chart-bar align-text-bottom"></span>
                Rapports
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="layers" class="mdi mdi-layers align-text-bottom"></span>
                Intégrations
            </a>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Saved reports</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="mdi mdi-plus-circle align-text-bottom"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text" class="mdi mdi-file-document align-text-bottom"></span>
                Current month
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text" class="mdi mdi-file-document align-text-bottom"></span>
                Last quarter
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text" class="mdi mdi-file-document align-text-bottom"></span>
                Social engagement
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="file-text" class="mdi mdi-file-document align-text-bottom"></span>
                Year-end sale
            </a>
        </li>
    </ul>
</div>