<div class="flex-shrink-0 p-3 sidebar-div" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-3">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#todolist" aria-expanded="true">
                Projets
            </button>
            <div class="collapse show" id="todolist">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded active">To-do list #3</a></li>
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded">To-do list #5</a></li>
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded">To-do list #6</a></li>
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded">To-do list #7</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-3">
            <button class="btn btn-toggle d-inline-flex border-0 align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#archive" aria-expanded="true">
                Projets archivés
            </button>
            <div class="collapse show" id="archive">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded">To-do list #1</a></li>
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded">To-do list #2</a></li>
                    <li><a href="#" class="d-inline-flex text-decoration-none rounded">To-do list #4</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>