<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MoutonTodoList</title>

    <script type="text/javascript" src="{{ ROOT_URL }}assets/bootstrap/js/bootstrap.min.js"></script>
    <link href="{{ ROOT_URL }}assets/css/custom_bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">

    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}

</head>
<body>
{% include 'components/navbar.twig' %}

<h1>{% trans %}TodoList{% endtrans %}</h1>

<div class="container">
    <h1>testssss</h1>
    {% include 'components/vertical-navbar.twig' %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>