<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans %}AppName{% endtrans %}</title>
    <link rel="icon" type="image/jpg" href="{{ ROOT_URL }}assets/img/appImg.jpg" />

    {% include 'components/head.twig' %}

    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}

</head>
<body id="body">
{% include 'components/navbar.twig' %}

<div class="container-fluid">

    <div class="row align-items-start">

        <nav class="col-2 collapse collapse-horizontal show sidebar-nav" id="verticalNavbar">
            {% include 'components/vertical-navbar.twig' %}
        </nav>

        <div class="col">
            <div class=" row d-flex justify-content-center">
                <div class="col-md-8">
                    {% include 'components/todolist.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ ROOT_URL }}assets/js/popover-setup.js"></script>
<script type="text/javascript" src="{{ ROOT_URL }}assets/js/dragdrop-setup.js"></script>
<script type="text/javascript" src="{{ ROOT_URL }}assets/js/theme-switcher.js"></script>

</body>
</html>