<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        {% include 'components/head.twig' %}

        {% block head %}
            {% block title %}
                <title>{% trans %}AppName{% endtrans %}</title>
            {% endblock %}
            {% block javascript_before %} {% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header role="banner">
            {% block header %} {% endblock %}
        </header>

        <main role="main" class="flex-shrink-0">
            {% block main %} {% endblock %}
        </main>

        <footer role="contentinfo" class="mt-auto py-3">
            {% include 'components/footer.twig' %}
        </footer>

        {% block javascript_after %} {% endblock %}
    </body>
</html>