<div class="container d-flex flex-column justify-content-center align-items-center mt-5 p-5 div-home">
    <h1 class="text-center mb-3"><b>{% trans %}HomeTitle{% endtrans %}</b></h1>
    <p class="text-center p-home">{% trans with {'%name%': t('AppName')} %}HomeText{% endtrans %}</p>
    <a class="nav-link active" href="/account/register">
        <button class="btn m-2 btn-primary mb-4" type="button">{% trans %}HomeSignIn{% endtrans %}</button>
    </a>

    <img src="/assets/img/leGang.jpeg" id="ApplyImage" alt="ApplyImage" class="d-inline-block align-text-top m-2">
</div>