<div class="container d-flex flex-column align-items-center mt-5 p-4">
    <h1 class="text-center mb-4">{% trans %}FormLogInTitle{% endtrans %}</h1>
    <form action="{{ url_for('account.login') }}" method="POST" id="form_login" class="form-account" >
        {{ csrf.html | raw }}
        <div class="mb-3">
            <label for="email" class="form-label">{% trans %}FormEmail{% endtrans %}</label>
            <input type="email" id="email" name="email" aria-describedby="validationEmail"
                   class="form-control bg-secondary" value="{{ val('email') }}">
            <div id="validation-email" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{% trans %}FormPwd{% endtrans %}</label>
            <input type="password" id="password" name="password" aria-describedby="validationPassword"
                   class="form-control bg-secondary">
            <div id="validation-password" class="invalid-feedback"></div>
        </div>
        <div class="mb-3 form-check d-flex justify-content-center">
            <input type="checkbox" class="form-check-input bg-secondary me-2" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">{% trans %}FormLetConnect{% endtrans %}</label>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-account">{% trans %}FormSubmit{% endtrans %}</button>
        </div>
    </form>
</div>


<script>
    const translations = `{{ 'ConnectionFailed'|trans|raw }}`;

    function setInvalid()
    {
        let email = $('#email');
        let pass = $('#password');
        if((email == null)||(pass == null)) return

        email.addClass("is-invalid");
        pass.addClass("is-invalid");
    }

    function displayError() {
        $('#validation-email').html(translations);
        setInvalid();
    }

    $(document).ready(() => {
        {% if has_error('email') %}displayError();{% endif %}
        {% if has_error('password') %}displayError();{% endif %}
        {% if hasFlash('errors') %}displayError();{% endif %}
    })
</script>