<div class="container d-flex flex-column align-items-center mt-5 p-5">
    <h1>{% trans %}FormLogInTitle{% endtrans %}</h1>
    <form action="{{ url_for('account.login') }}" method="POST">
        {{ csrf.html | raw }}
        <div class="mb-3">
            <label for="email" class="form-label">{% trans %}FormEmail{% endtrans %}</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Il y aura des erreurs si jamais</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{% trans %}FormPwd{% endtrans %}</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">{% trans %}FormLetConnect{% endtrans %}</label>
        </div>
        <button type="submit" class="btn btn-primary">{% trans %}FormSubmit{% endtrans %}</button>
    </form>
</div>