<li class="list-group-item task-view">
    <span class="mdi mdi-drag btn-task-drag"></span>
    <div class="form-check task-view-details">
        <input class="form-check-input" type="checkbox" value="">
        <div class="task-view-info">
            <label class="form-check-label">
                Nom de la tâche
            </label>
            <small id="emailHelp" class="form-text text-muted">Description</small>
        </div>
    </div>
</li>