<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="{{ taskId }}">
    <div class="task-info">
        <label class="form-check-label" for="{{ taskId }}">
            Nom de la tâche
        </label>
        <small id="emailHelp" class="form-text text-muted">Description</small>
    </div>
</div>