<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans %}LogInPage{% endtrans %}</title>

    {% include 'components/head.twig' %}
</head>
<body class="light">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand align-items-center d-flex" href="login">
                <img src="assets/img/appImg.jpg" alt="Logo" class="d-inline-block align-text-top rounded-circle logo">
                {% trans %}AppName{% endtrans %}
            </a>
            <a href="signin">
                <button class="btn me-2 btn-primary" type="button">{% trans %}SignIn{% endtrans %}</button>
            </a>
        </div>
    </nav>

    <div class="container d-flex flex-column min-vh-100 align-items-center mt-5">
        <h1>{% trans %}FormLogInTitle{% endtrans %}</h1>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">{% trans %}FormEmail{% endtrans %}</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Il y aura des erreurs si jamais</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{% trans %}FormPwd{% endtrans %}</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">{% trans %}FormLetConnect{% endtrans %}</label>
            </div>
            <button type="submit" class="btn btn-primary">{% trans %}FormSubmit{% endtrans %}</button>
        </form>
    </div>
</body>
</html>
